@using PizzaDelivery.Views.Shared.Component
@model IEnumerable<ProdutoViewAllModel>
@{
    ViewBag.Subtitulo = "Produtos";
}

@section styles {
    <link href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}

<header class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h3 class="subtitulo">@ViewBag.Subtitulo</h3>
    </div>
    <div>
        <a onclick="showInPopup('@Url.Action("AddOrEdit","Produto",new {id = string.Empty},Context.Request.Scheme)','Inclusão de Produto')" class="btn btn-primary text-white" title="Incluir Produto"><i class="bi bi-plus-lg"></i>&nbsp Produto</a>
    </div>
</header>
<div class="mt-3 mb-2 row">
    <form class="col-sm-6 col-md-8 col-xl-6" asp-action="GetData" onsubmit="return jQueryAjaxPost(this);" >
        <label>Categoria</label>
        <select name="CategoriaId" asp-items="@ViewBag.Categorias" class="form-select" onchange="$(this).parent().submit();"></select>
    </form>
</div>
<hr />

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

<div class="modal fade" tabindex="-1" id="form-modal">
    <div class="modal-dialog pt-5 modal-xl modal-fullscreen-xl-down">
        <div class="modal-content m-auto" style="border-radius:5px;height:max-content;">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            const target = document.querySelector('div#view-all');
            const observer = new MutationObserver(handleMutationObserver);
            const config = { childList: true, attributes: true };

            function handleMutationObserver(mutations) {
                const tabela = target.querySelector('table');
                if (tabela && !$.fn.dataTable.isDataTable('#view-allTable')) {
                    initializeDataTable();
                }
            }

            observer.observe(target, config);
            if (target.querySelector('table')) {
                initializeDataTable();
            }
        });

        function initializeDataTable() {
            $('#view-allTable').DataTable({
                destroy: true,
                language: Language,
                columnDefs: [
                    {
                        targets: [-1],
                        visible: true,
                        orderable: false,
                        searchable: false,
                        width: '120px',
                        className: 'text-center text-nowrap'
                    }
                ]
            });
        }
    </script>
}