* {
    /*    transition: all ease-in-out .03s;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
    height: 100vh;
}

body {
    background-color: #FFD7B3 !important;
    background-image: url('/img/bg_pattern.png') !important;
    background-attachment: fixed;
}

.subtitulo::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #7A0000;
    margin: 2.5px auto;
    position: absolute;
    border-radius: 10px;
}

.main-container {
    padding-top: 90px !important;
    padding-bottom: 90px;
    min-height: 90vh !important;
}

.navbar {
    background-color: #7a0000;
    height: 80px;
}

.nav-item a {
    color: #FFD7B4;
    vertical-align: baseline;
}

    .nav-item a.active {
        color: #ffffff !important;
    }

    .nav-item a:hover {
        color: #ffffff;
    }

.nav-link {
    position: relative;
}

    .nav-link:not(.dropdown-toggle)::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1px;
        width: 0;
        height: 4px;
        border-radius: 3px;
        background-color: #FFD7B3;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .nav-link:not(.dropdown-toggle):hover::after,
    .nav-link:not(.dropdown-toggle):focus::after {
        width: calc(100% - 20px);
        left: 10px;
    }

.navbar-nav:not(:has(.nav-link:hover)) .nav-link:not(.dropdown-toggle).active::after {
    width: calc(100% - 20px);
    left: 10px;
}

.btn-primary {
    background-color: #9a2424 !important;
    border-color: crimson !important;
}

    .btn-primary:hover {
        background-color: #7a0000 !important;
    }

:not(.btn-group) > .btn:not(.btn-sm) {
    border-radius: 100px !important;
}

.btn-light {
    background-color: #fff !important;
    border-color: crimson !important;
    color: #9a2424 !important;
}

    .btn-light:hover {
        background-color: #ffa63a !important;
        color: #fbeadb !important;
    }

:not(.btn-group) > .btn:not(.btn-sm) {
    border-radius: 100px !important;
}

.btn-login {
    width: 150px !important;
    height: 40px !important;
    align-items: center;
    color: #7A0000 !important;
    font-size: medium !important;
    font-weight: 900 !important;
    border-radius: 100px;
    background-color: #fff !important;
    cursor: pointer;
}

    .btn-login:hover {
        background-color: #FFD7B3 !important;
    }

.login-dropdown {
    background-color: #fff !important;
}

    .login-dropdown a:hover {
        background-color: #7a0000 !important;
        color: #FFD7B3 !important;
    }

    .login-dropdown a {
        color: #7a0000 !important;
    }

.loaderbody {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    top: 0;
    left: 0;
    z-index: 10000;
}

.loader {
    border: 12px solid var(--bs-primary); /* Blue */
    border-top-color: transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.6s linear infinite;
    position: fixed;
    top: calc(45% - 20px);
    left: calc(50% - 20px);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

input[type=checkbox] {
    accent-color: var(--bs-primary); /*#AB47BC !important;*/
}

.validation-summary ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table:not(#searchTable) {
    box-shadow: var(--bs-box-shadow);
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, .1);
}

    table:not(#searchTable) td {
        border: 0px solid transparent;
        background-clip: padding-box;
    }

    table:not(#searchTable) tr + tr > td {
        border-top-width: 6px;
    }

div#login-card, #ajaxloginform-modal .modal-content {
    width: 550px;
}

.glass {
    background: rgba( 113, 103, 103, 0.1 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

    .glass input {
        background-color: rgba(255, 255, 255, .2);
    }

table:has(.btn, .btn-sm),
table:has(img) td {
    vertical-align: middle;
}

#divImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #divImg img {
        width: 100%;
    }

#divImg {
    position: relative;
}

    #divImg .btn-close {
        background-color: rgba(255,255,255, .3);
        position: absolute;
        right: 6%;
        top: 5%;
    }

        #divImg .btn-close:hover {
            background-color: rgba(255,255,255, .6);
        }

.card-cardapio {
    position: relative;
    transition: transform 0.03s ease;
    width: 285px;
    /*box-shadow: 0 1px 10px 0 rgba( 31, 38, 135, 0.37 ) !important;*/
}

    .card-cardapio:hover {
        transform: scale(1.01);
    }

.cardapio-info {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    opacity: 0.6;
    text-shadow: 0.5px 0.5px 2px #333;
    transition: opacity ease-in-out .05s;
}

.cardapio-info:hover {
    opacity: 1;
}

.cardapio-info-text {
    opacity: 0;
    bottom: 45%;
    color: aliceblue;
    position: absolute;
    text-shadow: 1px 1px 1px #333;
    background-color: rgba(0,0,0,.3);
    transition: opacity ease-in-out .05s;
}

.cardapio-info:hover + .cardapio-info-text {
    opacity: 1;
}

.cart-notice {
    position: relative;
}

    .cart-notice::after {
        position: absolute;
        content: "\00A0"attr(counter) "\00A0";
        border-radius: 50%;
        background-color: green;
        font-size: .75rem;
        font-weight: bolder;
        color: whitesmoke;
        left: 1.3rem;
        top: -10%;
        width: max-content;
        min-width: 18px;
        text-align: center;
    }

table tr > td.fit-c,
table tr > th.fit-c {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

table tr > td.fit-r,
table tr > th.fit-r {
    width: 1%;
    white-space: nowrap;
    text-align: right;
}

.flow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.step {
    width: 25%;
    height: max-content;
    color: rgba(0, 0, 0, .9);
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

    .step div {
        font-size: .90rem;
    }

.connector {
    width: 50px;
    height: 10px;
    background-color: #ccc;
}

    .connector:has(+ .bg-success) {
        background-color: #d1e7dd;
        border: solid 1px #d7eae1;
    }

.carousel-item p,
.carousel-item h4 {
    text-shadow: 1px 1px 1px #333;
}